@import '../../styles/variables';

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  background-color: $gray-lighter;
  padding: 0 20px;
  width: 100%;

  .mitreButton {
    cursor: pointer;
    padding: 10px;  
    margin-right: 20px;
    margin-left: auto;
  
    &:focus,
    &:hover {
      outline: none;
    }
  }

  .mcodeButton {
    cursor: pointer;
    padding: 10px;
  
    &:focus,
    &:hover {
      outline: none;
    }

}

}