@import '../../styles/variables';

div {
  padding: 10px;
  margin: 10px;
}

.mainText {
  font-family: RobotoCondensed-Light;
  font-size: 65px;
  color: #7D8892;
}

.subText {
  font-family: RobotoCondensed-Light;
  font-size: 40px;
  color: #AAAEB1;
}

.tryIt {
  background: #D95D77;
  box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.50);
  font-family: RobotoCondensed-Regular;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 10px 90px 10px 90px;
}

.example {
  float: right;
  margin: 50px;
  // margin-bottom: 50px;
  // margin-top: 50px;
}

.images {
  padding: 10px;
}

.homeLink {
  display: flex;
}
