@import '../../styles/variables';

// ----------  TITLE SPACING  --------- //
$verticalPadding: 20px;
$lineHeight: 50px;
$segoeFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$namePadding: 100px;
$headerPadding: 7px;
$leftRightPadding: 50px;
$topPadding: 30px;
$bottomPadding: 10px;
$rowIndent: 30px;

.table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-collapse: collapse;
  display: block;
  overflow-x: scroll;
  min-width: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

table.table::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.headerRow {
  background-color: #eaeef2;
}

.tableRow {
  border-bottom: 2px solid #eaeef2;
  font-weight: normal;
  font-size: 18px;
  font-family: $segoeFont;
}

.headerCell {
  padding: $headerPadding;
  font-weight: normal;
  padding-left: $leftRightPadding;
  padding-right: $leftRightPadding;
  font-size: 18px;
  font-family: $segoeFont;
  white-space: nowrap;
}

.nameHeader {
  padding: $headerPadding;
  padding-left: $rowIndent;
  padding-right: $namePadding;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  font-family: $segoeFont;
}

.buttonHeader {
  font-weight: normal;
  min-width: 115px;
  //width: 89%;
}

.nameCell {
  padding-top: $topPadding;
  padding-bottom: $bottomPadding;
  padding-left: $rowIndent;
  padding-right: $namePadding;
  white-space: nowrap;
}

.rowCell {
  padding-top: $topPadding;
  padding-bottom: $bottomPadding;
  padding-left: $leftRightPadding;
  padding-right: $leftRightPadding;
  white-space: nowrap;
  text-align: center;
}

.buttonCell {
  padding-top: $topPadding;
  padding-bottom: $bottomPadding;
  text-align: right;
  width: 100%;
}

.editIcon {
  color: $blue;
  margin-left: 8px;
}

.editButton {
  color: $blue;
  margin-left: 8px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: $segoeFont;
}

.deleteIcon {
  color: $red;
  margin-left: 8px;
}

.deleteButton {
  color: $red;
  margin-left: 8px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: $segoeFont;
}

.createIcon {
  color: $white;
  margin-left: 8px;
  padding-right: 5px;
  width: 18px;
  height: 18px;
}

.createButton {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  padding: 10px;
  font-size: 16px;
  font-family: $segoeFont;

  // this is from _button.scss
  border: none;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  appearance: none;

  &:hover,
  &:focus {
    background-color: darken($blue, 10%);
  }
}
