@import 'variables';

.button {
  border: none;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: darken($blue, 10%);
  }
}
